@model P.V.WantHelp_.Models.ListaRolesAsignadosU

@{
    ViewBag.Title = "VistaDetalleRA";
}
<link href="~/cssInk/css/ink.css" type="text/css" rel="stylesheet"/>

<style type="text/css">
    footer {
    clear:both;
    background-color: #414E5E;   
    font-size: .8em;
    height: 61px;
    border-radius: 5px 5px 5px 5px;
    margin:2px 2px 2px 2px;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF696969', endColorstr='#FF252525');    
}
</style>
<section class="content-wrapper main-content clear-fix body_Pages">
    <div id="backbutton" class="win-backbutton">
        <a href="/RolesUser" class="tooltip " title="Atrás">
            <img src="~/Image/next-item.png"/>
        </a>
    </div>
<h2 class="letraD" style="text-align:center;">Lista de Roles Asignados</h2>
<table class="ink-table hover">
    <tr class="letraD">
        <th>Nº</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Nombre de Rol</th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.listaRolU)
{
    <tr>
        <td>
            @item.Id_UsuR
        </td>
        <td>
            @item.Nombre
        </td>
        <td>
            @item.Apellido_P
        </td>
        <td>
            @item.Apellido_M
        </td>
        <td>
            @item.RoleName
        </td>
    </tr>
}

</table>
</section>